<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TST</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- <script src="../../static/js/script.js"></script> -->
</head>

<body>
    <div id="img">
        <!-- <img src="../../static/images/Elephant.png" alt=""> -->
        <header>
            <a href="{% url 'index' %}"><img src="../../static/images/logo_dark.png" id="logo" alt=""></a>
            <nav>
                <ul>
                    <li><a href="{% url 'identify' %}">Make a Difference</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h2>Innovating Conservation in the Nilgiris</h2>
                <p>The Shola Trust is a dedicated non-profit organization committed to human-inclusive nature
                    conservation in the Nilgiri region of South India. Inspired by the unique Shola forests endemic to
                    the southern part of the Western Ghats, our mission is to preserve these precious ecosystems while
                    empowering local communities.</p>
            </section>

            <section>
                <h2>Our Mission</h2>
                <div class="cards">
                    <div class="card">
                        <h3>Lantana Management</h3>
                        <p>
                            Addressing the invasive Lantana species to protect biodiversity and support local
                            communities by preventing its spread, ensuring a sustainable balance between nature and
                            human activity.</p>
                    </div>
                    <div class="card">
                        <h3>
                            Community Empowerment
                        </h3>
                        <p>Enhancing local labor skills to craft sustainable products from Lantana, generating income,
                            and promoting eco-friendly practices that benefit both people and the environment.</p>
                    </div>
                    <div class="card">
                        <h3>
                            Ecosystem Restoration
                        </h3>
                        <p>Implementing innovative techniques to restore the Shola forests, ensuring the recovery of
                            native flora and fauna while maintaining ecological balance and fostering sustainable
                            development.</p>
                    </div>
                </div>
            </section>

            <section id="approach">
                <h2>Our Approach</h2>
                <h3>1. Identification and Mapping</h3>
                <p>We use advanced drone and satellite technology, along with machine learning, to accurately identify
                    and map Lantana infestations in real-time. This enables us to prioritize areas for removal and
                    monitor progress effectively.</p>

                <h3>2. Sustainable Removal and Utilization</h3>
                <p>Our IoT-enabled tools and biomass processing techniques ensure efficient and large-scale removal of
                    Lantana. The collected Lantana is then repurposed into valuable products, providing new livelihood
                    opportunities for local communities.</p>

                <h3>3. Handicraft Production</h3>
                <p>By integrating ERP systems and modern tracking technologies, we streamline the production of
                    Lantana-based handicrafts. Our innovative process supports local artisans and meets market demands,
                    creating a sustainable economic model.</p>

                <h3>4. Restoration and Monitoring</h3>
                <p>We leverage GIS and remote sensing technologies to monitor the restoration of cleared areas, ensuring
                    the Shola forests can thrive once more. Our data-driven approach allows for continuous improvement
                    and adaptation of our conservation strategies.</p>
            </section>

            <section>
                <h2>Join Us in Making a Difference</h2>
                <div class="cards">
                    <div class="card">
                        <h3>Volunteer with Us</h3>
                        <p>
                            Join our efforts on the ground to make a tangible impact, significantly contributing to a
                            sustainable future where nature and humanity coexist harmoniously.
                        </p>
                    </div>
                    <div class="card">
                        <h3>Support Our Work</h3>
                        <p>
                            Your generous donations help us drive innovation, expand our reach, and support community
                            development, restoring the natural beauty of the Nilgiris effectively.
                        </p>
                    </div>
                    <div class="card">
                        <h3>Partner with Us</h3>
                        <p>
                            Collaborate with us to leverage our advanced technology and data for greater environmental
                            impact, contributing to a sustainable future and harmonious coexistence with nature.
                        </p>
                    </div>

                </div>
            </section>
        </main>
        <!-- <footer>
            <p>&copy; 2024 The Shola Trust. All rights reserved.</p>
        </footer> -->
    </div>
</body>

</html>